:root {
  --white-color: aliceblue;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Asap", sans-serif;
  list-style: none;
}

body {
  background-color: rgb(33, 28, 34);
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: ease-in 0.5s;
}

.clockContainer {
  font-size: 5rem;
  color: var(--white-color);
}

#greeting {
  /* all greet elements */
  color: var(--white-color);
}

.greeting {
  /* when ask name */
  font-size: 4rem;
  text-align: center;
}

.greetInput {
  font-size: 50px;
  text-align: center;
  border: none;
  background: transparent;
  color: var(--white-color);
  border-bottom: 1px solid white;
}

.greetInput:focus {
  outline: none;
}
.greetInputBtn {
  font-size: 1.1rem;
  align-self: center;
  width: 20%;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  padding: 9px 23px;
  background: transparent;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}
.greetInputBtn:hover {
  background: rgba(137, 54, 232, 0.358);
  opacity: 0.7;
}

.todoList {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: var(--white-color);
  align-items: center;
}

.pendAndFin {
  display: flex;
  padding-top: 15px;
  width: 100%;
  justify-content: space-between;
}

.todoBox {
  font-size: larger;
  width: 100%;
  padding-left: 8px;
  border: none;
  border-radius: 0;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  transition: 0.3s ease;
  text-align: center;
}

.todoBox:focus {
  outline: none;
}

.todoBox::placeholder {
  text-align: center;
  color: var(--white-color);
  opacity: 0.8;
}

.pending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finished {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#js-pending {
  padding-top: 20px;
  font-size: 0.8em;
}

#js-finished {
  padding-top: 20px;
  font-size: 0.8em;
}

.allBtn {
  font-size: 20px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: var(--white-color);
}
i {
  cursor: pointer;
}
.fa-trash-alt {
  padding-right: 10px;
}
.fa-check {
  padding-left: 10px;
}
.fa-step-backward {
  padding-left: 10px;
}
.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation: fadeIn 4s;
}

.weather {
  color: var(--white-color);
  position: absolute;
  right: 16px;
  top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide {
  display: none;
}
